openapi: 3.0.3
info:
  title: OwnYou Consumer Application API
  version: 1.0.0
  description: |
    Complete API specification for the OwnYou Consumer Application.

    **Phase 1 Deliverable #3**: This spec defines ALL REST endpoints for the
    OwnYou Consumer App, enabling parallel frontend/backend development.

    **Authentication**: All endpoints (except /auth/*) require JWT Bearer token
    obtained via wallet signature authentication.

    **Key Features**:
    - Self-sovereign wallet-based authentication
    - Mission card management (Shopping, Travel, Health, etc.)
    - Token wallet with transaction tracking
    - Multi-source data connection management
    - Real-time notifications
    - Privacy-first design (no PII in responses without user consent)

  contact:
    name: OwnYou Development Team
    url: https://github.com/ownyou
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.ownyou.app/v1
    description: Production server
  - url: https://staging-api.ownyou.app/v1
    description: Staging server
  - url: http://localhost:5000/v1
    description: Local development server

tags:
  - name: Authentication
    description: Wallet-based authentication endpoints
  - name: Missions
    description: Mission card CRUD and state management
  - name: Wallet
    description: Token wallet and transaction management
  - name: Notifications
    description: User notification management
  - name: Connections
    description: Data source connection management
  - name: Settings
    description: User preferences and settings
  - name: Profile
    description: User profile management
  - name: Health
    description: API health and status endpoints

# ==============================================================================
# SECURITY SCHEMES
# ==============================================================================

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained via wallet signature authentication.
        Include in Authorization header: `Authorization: Bearer <token>`

  # ==============================================================================
  # REUSABLE SCHEMAS
  # ==============================================================================

  schemas:
    # Base Mission Card
    MissionCard:
      type: object
      required:
        - mission_id
        - user_id
        - card_type
        - category
        - state
        - created_at
        - updated_at
        - priority
      properties:
        mission_id:
          type: string
          description: Unique mission identifier
          example: "mission_abc123"
        user_id:
          type: string
          description: User identifier who owns this mission
          example: "user_456"
        thread_id:
          type: string
          nullable: true
          description: LangGraph thread ID for persistent conversation
          example: "thread_789"
        card_type:
          type: string
          enum: [shopping, utility, services, travel, event, restaurant, recipe, content, health]
          description: Type of mission card
          example: "shopping"
        category:
          type: string
          enum: [savings, ikigai, health]
          description: High-level category
          example: "savings"
        state:
          type: string
          enum: [pending, active, snoozed, completed, dismissed]
          default: pending
          description: Current mission state
          example: "active"
        created_at:
          type: string
          format: date-time
          description: Mission creation timestamp
          example: "2025-01-06T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-01-06T15:30:00Z"
        card_data:
          type: object
          nullable: true
          description: Type-specific card data (ShoppingCardData, TravelCardData, etc.)
          example: {"product_name": "ASIC Running Shoes", "current_price": 89.99}
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Priority level (1-10, higher = more important)
          example: 7

    # User Profile
    UserProfile:
      type: object
      required:
        - user_id
        - wallet_address
        - created_at
        - last_login
        - onboarding_completed
      properties:
        user_id:
          type: string
          description: Unique user identifier
          example: "user_123"
        wallet_address:
          type: string
          description: User's blockchain wallet address
          example: "0x1234567890abcdef"
        display_name:
          type: string
          nullable: true
          description: User's display name
          example: "John Doe"
        email:
          type: string
          format: email
          nullable: true
          description: User's email (optional, for notifications)
          example: "john@example.com"
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: "2025-01-01T00:00:00Z"
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
          example: "2025-01-06T10:00:00Z"
        onboarding_completed:
          type: boolean
          default: false
          description: Whether user completed onboarding
          example: true
        preferences:
          type: object
          description: User preferences
          example: {"theme": "dark", "notifications_enabled": true}

    # Wallet Transaction
    WalletTransaction:
      type: object
      required:
        - transaction_id
        - user_id
        - transaction_type
        - amount
        - description
        - timestamp
        - status
      properties:
        transaction_id:
          type: string
          description: Unique transaction identifier
          example: "tx_abc123"
        user_id:
          type: string
          description: User who owns this transaction
          example: "user_456"
        transaction_type:
          type: string
          enum: [reward, withdrawal, purchase, refund]
          description: Type of transaction
          example: "reward"
        amount:
          type: number
          format: float
          description: Transaction amount (positive = credit, negative = debit)
          example: 50.00
        token_symbol:
          type: string
          default: "OWN"
          description: Token symbol
          example: "OWN"
        description:
          type: string
          description: Human-readable description
          example: "Mission completion reward"
        related_mission_id:
          type: string
          nullable: true
          description: Mission ID if transaction from mission reward
          example: "mission_789"
        blockchain_tx_hash:
          type: string
          nullable: true
          description: On-chain transaction hash
          example: "0xabcdef123456"
        status:
          type: string
          enum: [pending, completed, failed]
          default: completed
          description: Transaction status
          example: "completed"
        timestamp:
          type: string
          format: date-time
          description: Transaction timestamp
          example: "2025-01-06T12:00:00Z"

    # Notification
    Notification:
      type: object
      required:
        - notification_id
        - user_id
        - notification_type
        - title
        - message
        - created_at
        - is_read
      properties:
        notification_id:
          type: string
          description: Unique notification identifier
          example: "notif_123"
        user_id:
          type: string
          description: User who receives this notification
          example: "user_456"
        notification_type:
          type: string
          enum: [mission_created, mission_completed, reward_earned, data_source_connected, data_source_error, system_update]
          description: Type of notification
          example: "mission_created"
        title:
          type: string
          description: Notification title
          example: "New Shopping Mission"
        message:
          type: string
          description: Notification message body
          example: "We found a great deal on running shoes!"
        related_mission_id:
          type: string
          nullable: true
          description: Related mission ID if applicable
          example: "mission_789"
        related_data_source:
          type: string
          nullable: true
          description: Related data source if applicable
          example: "email"
        action_url:
          type: string
          nullable: true
          description: Deep link to relevant app screen
          example: "/missions/mission_789"
        is_read:
          type: boolean
          default: false
          description: Whether user has read this notification
          example: false
        created_at:
          type: string
          format: date-time
          description: Notification creation timestamp
          example: "2025-01-06T14:00:00Z"

    # Data Source Connection
    DataSourceConnection:
      type: object
      required:
        - user_id
        - source_type
        - source_name
        - status
        - sync_frequency
      properties:
        user_id:
          type: string
          description: User who owns this connection
          example: "user_123"
        source_type:
          type: string
          enum: [email, calendar, financial, location, browser, photos, social, health]
          description: Type of data source
          example: "email"
        source_name:
          type: string
          description: Specific source name (e.g., 'Gmail', 'Google Calendar')
          example: "Gmail"
        status:
          type: string
          enum: [connected, disconnected, error, pending_auth]
          description: Connection status
          example: "connected"
        connected_at:
          type: string
          format: date-time
          nullable: true
          description: When connection was established
          example: "2025-01-01T12:00:00Z"
        last_sync:
          type: string
          format: date-time
          nullable: true
          description: Last successful data sync
          example: "2025-01-06T10:00:00Z"
        oauth_token_expiry:
          type: string
          format: date-time
          nullable: true
          description: OAuth token expiration time
          example: "2025-02-01T00:00:00Z"
        error_message:
          type: string
          nullable: true
          description: Error message if status=error
          example: "OAuth token expired"
        permissions:
          type: array
          items:
            type: string
          description: Granted permissions (read, write, etc.)
          example: ["read"]
        sync_frequency:
          type: string
          enum: [realtime, hourly, daily, weekly]
          default: daily
          description: How often to sync this source
          example: "daily"

    # Error Response
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: "INVALID_REQUEST"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid mission_id provided"
        details:
          type: object
          description: Additional error details
          example: {"field": "mission_id", "reason": "does not exist"}

# ==============================================================================
# API ENDPOINTS
# ==============================================================================

paths:
  # ==============================================================================
  # AUTHENTICATION ENDPOINTS
  # ==============================================================================

  /auth/challenge:
    post:
      tags: [Authentication]
      summary: Request authentication challenge
      description: |
        Request a challenge message to sign with wallet.
        First step in wallet-based authentication flow.
      operationId: requestAuthChallenge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet_address
              properties:
                wallet_address:
                  type: string
                  description: User's wallet address
                  example: "0x1234567890abcdef"
      responses:
        '200':
          description: Challenge created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                    description: Challenge message to sign
                    example: "Sign this message to authenticate: nonce_abc123"
                  expires_at:
                    type: string
                    format: date-time
                    description: Challenge expiration time
                    example: "2025-01-06T10:05:00Z"
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/verify:
    post:
      tags: [Authentication]
      summary: Verify signed challenge
      description: |
        Verify wallet signature and issue JWT token.
        Second step in wallet-based authentication flow.
      operationId: verifySignature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallet_address
                - signature
                - challenge
              properties:
                wallet_address:
                  type: string
                  description: User's wallet address
                  example: "0x1234567890abcdef"
                signature:
                  type: string
                  description: Signed challenge message
                  example: "0xabcdef..."
                challenge:
                  type: string
                  description: Original challenge message
                  example: "Sign this message to authenticate: nonce_abc123"
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT access token
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  user_id:
                    type: string
                    description: User identifier
                    example: "user_123"
                  expires_at:
                    type: string
                    format: date-time
                    description: Token expiration time
                    example: "2025-01-07T10:00:00Z"
        '401':
          description: Invalid signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT token
      description: Obtain a new JWT token using existing valid token
      operationId: refreshToken
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: New JWT access token
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_at:
                    type: string
                    format: date-time
                    description: Token expiration time
                    example: "2025-01-07T10:00:00Z"
        '401':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # MISSION ENDPOINTS
  # ==============================================================================

  /missions:
    get:
      tags: [Missions]
      summary: List all missions
      description: |
        Retrieve all mission cards for the authenticated user.
        Supports filtering by category, state, and card_type.
      operationId: listMissions
      security:
        - BearerAuth: []
      parameters:
        - name: category
          in: query
          description: Filter by category
          schema:
            type: string
            enum: [savings, ikigai, health]
          example: "savings"
        - name: state
          in: query
          description: Filter by state
          schema:
            type: string
            enum: [pending, active, snoozed, completed, dismissed]
          example: "active"
        - name: card_type
          in: query
          description: Filter by card type
          schema:
            type: string
            enum: [shopping, utility, services, travel, event, restaurant, recipe, content, health]
          example: "shopping"
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: offset
          in: query
          description: Number of results to skip (for pagination)
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Missions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  missions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MissionCard'
                  total:
                    type: integer
                    description: Total number of missions matching filters
                    example: 42
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Missions]
      summary: Create new mission
      description: Create a new mission card for the user
      operationId: createMission
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MissionCard'
      responses:
        '201':
          description: Mission created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionCard'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /missions/{mission_id}:
    get:
      tags: [Missions]
      summary: Get mission by ID
      description: Retrieve a specific mission card by its ID
      operationId: getMission
      security:
        - BearerAuth: []
      parameters:
        - name: mission_id
          in: path
          required: true
          description: Mission identifier
          schema:
            type: string
          example: "mission_abc123"
      responses:
        '200':
          description: Mission retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionCard'
        '404':
          description: Mission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags: [Missions]
      summary: Update mission
      description: Update a mission card (state transitions, priority, etc.)
      operationId: updateMission
      security:
        - BearerAuth: []
      parameters:
        - name: mission_id
          in: path
          required: true
          description: Mission identifier
          schema:
            type: string
          example: "mission_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  enum: [pending, active, snoozed, completed, dismissed]
                  description: New mission state
                  example: "completed"
                priority:
                  type: integer
                  minimum: 1
                  maximum: 10
                  description: New priority level
                  example: 8
                card_data:
                  type: object
                  description: Updated card data
                  example: {"current_price": 79.99}
      responses:
        '200':
          description: Mission updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MissionCard'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Missions]
      summary: Delete mission
      description: Permanently delete a mission card
      operationId: deleteMission
      security:
        - BearerAuth: []
      parameters:
        - name: mission_id
          in: path
          required: true
          description: Mission identifier
          schema:
            type: string
          example: "mission_abc123"
      responses:
        '204':
          description: Mission deleted successfully
        '404':
          description: Mission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /missions/{mission_id}/feedback:
    post:
      tags: [Missions]
      summary: Submit mission feedback
      description: |
        Submit user feedback for a mission (like, dislike, snooze, etc.).
        Updates mission state and stores feedback for agent learning.
      operationId: submitMissionFeedback
      security:
        - BearerAuth: []
      parameters:
        - name: mission_id
          in: path
          required: true
          description: Mission identifier
          schema:
            type: string
          example: "mission_abc123"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - feedback_type
              properties:
                feedback_type:
                  type: string
                  enum: [like, dislike, snooze, completed, dismissed]
                  description: Type of feedback
                  example: "like"
                feedback_text:
                  type: string
                  nullable: true
                  description: Optional natural language feedback
                  example: "Love this deal! Purchased immediately."
      responses:
        '200':
          description: Feedback submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Feedback recorded successfully"
                  updated_mission:
                    $ref: '#/components/schemas/MissionCard'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Mission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # WALLET ENDPOINTS
  # ==============================================================================

  /wallet/balance:
    get:
      tags: [Wallet]
      summary: Get wallet balance
      description: Retrieve current token balance for the user
      operationId: getWalletBalance
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Balance retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    example: "user_123"
                  token_symbol:
                    type: string
                    example: "OWN"
                  balance:
                    type: number
                    format: float
                    description: Current token balance
                    example: 1250.50
                  last_updated:
                    type: string
                    format: date-time
                    example: "2025-01-06T15:00:00Z"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wallet/transactions:
    get:
      tags: [Wallet]
      summary: List wallet transactions
      description: |
        Retrieve transaction history for the user.
        Supports filtering by transaction type and date range.
      operationId: listTransactions
      security:
        - BearerAuth: []
      parameters:
        - name: transaction_type
          in: query
          description: Filter by transaction type
          schema:
            type: string
            enum: [reward, withdrawal, purchase, refund]
          example: "reward"
        - name: start_date
          in: query
          description: Filter transactions after this date
          schema:
            type: string
            format: date-time
          example: "2025-01-01T00:00:00Z"
        - name: end_date
          in: query
          description: Filter transactions before this date
          schema:
            type: string
            format: date-time
          example: "2025-01-31T23:59:59Z"
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: offset
          in: query
          description: Number of results to skip (for pagination)
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Transactions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletTransaction'
                  total:
                    type: integer
                    description: Total number of transactions matching filters
                    example: 87
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wallet/transactions/{transaction_id}:
    get:
      tags: [Wallet]
      summary: Get transaction by ID
      description: Retrieve a specific transaction by its ID
      operationId: getTransaction
      security:
        - BearerAuth: []
      parameters:
        - name: transaction_id
          in: path
          required: true
          description: Transaction identifier
          schema:
            type: string
          example: "tx_abc123"
      responses:
        '200':
          description: Transaction retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransaction'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /wallet/rewards/summary:
    get:
      tags: [Wallet]
      summary: Get rewards summary
      description: |
        Retrieve rewards summary by period (daily, weekly, monthly, yearly).
        Useful for wallet dashboard display.
      operationId: getRewardsSummary
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          required: true
          description: Summary period
          schema:
            type: string
            enum: [daily, weekly, monthly, yearly]
          example: "monthly"
      responses:
        '200':
          description: Rewards summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  period:
                    type: string
                    example: "monthly"
                  start_date:
                    type: string
                    format: date-time
                    example: "2025-01-01T00:00:00Z"
                  end_date:
                    type: string
                    format: date-time
                    example: "2025-01-31T23:59:59Z"
                  total_rewards:
                    type: number
                    format: float
                    description: Total rewards earned in period
                    example: 450.00
                  missions_completed:
                    type: integer
                    description: Number of missions completed
                    example: 12
                  rewards_by_category:
                    type: object
                    properties:
                      savings:
                        type: number
                        example: 200.00
                      ikigai:
                        type: number
                        example: 150.00
                      health:
                        type: number
                        example: 100.00
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # NOTIFICATION ENDPOINTS
  # ==============================================================================

  /notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      description: |
        Retrieve all notifications for the user.
        Supports filtering by read/unread status and notification type.
      operationId: listNotifications
      security:
        - BearerAuth: []
      parameters:
        - name: is_read
          in: query
          description: Filter by read status
          schema:
            type: boolean
          example: false
        - name: notification_type
          in: query
          description: Filter by notification type
          schema:
            type: string
            enum: [mission_created, mission_completed, reward_earned, data_source_connected, data_source_error, system_update]
          example: "mission_created"
        - name: limit
          in: query
          description: Maximum number of results
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: offset
          in: query
          description: Number of results to skip (for pagination)
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  total:
                    type: integer
                    description: Total number of notifications matching filters
                    example: 24
                  unread_count:
                    type: integer
                    description: Total number of unread notifications
                    example: 5
                  limit:
                    type: integer
                    example: 20
                  offset:
                    type: integer
                    example: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/{notification_id}:
    get:
      tags: [Notifications]
      summary: Get notification by ID
      description: Retrieve a specific notification by its ID
      operationId: getNotification
      security:
        - BearerAuth: []
      parameters:
        - name: notification_id
          in: path
          required: true
          description: Notification identifier
          schema:
            type: string
          example: "notif_123"
      responses:
        '200':
          description: Notification retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/{notification_id}/read:
    post:
      tags: [Notifications]
      summary: Mark notification as read
      description: Mark a specific notification as read
      operationId: markNotificationRead
      security:
        - BearerAuth: []
      parameters:
        - name: notification_id
          in: path
          required: true
          description: Notification identifier
          schema:
            type: string
          example: "notif_123"
      responses:
        '200':
          description: Notification marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark all notifications as read
      description: Mark all unread notifications for the user as read
      operationId: markAllNotificationsRead
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All notifications marked as read
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "All notifications marked as read"
                  marked_count:
                    type: integer
                    description: Number of notifications marked as read
                    example: 5
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # DATA SOURCE CONNECTION ENDPOINTS
  # ==============================================================================

  /connections:
    get:
      tags: [Connections]
      summary: List data source connections
      description: |
        Retrieve all data source connections for the user.
        Supports filtering by source type and status.
      operationId: listConnections
      security:
        - BearerAuth: []
      parameters:
        - name: source_type
          in: query
          description: Filter by source type
          schema:
            type: string
            enum: [email, calendar, financial, location, browser, photos, social, health]
          example: "email"
        - name: status
          in: query
          description: Filter by connection status
          schema:
            type: string
            enum: [connected, disconnected, error, pending_auth]
          example: "connected"
      responses:
        '200':
          description: Connections retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataSourceConnection'
                  total:
                    type: integer
                    description: Total number of connections
                    example: 8
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags: [Connections]
      summary: Create data source connection
      description: |
        Initiate connection to a new data source.
        Returns OAuth URL if source requires OAuth authorization.
      operationId: createConnection
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source_type
                - source_name
              properties:
                source_type:
                  type: string
                  enum: [email, calendar, financial, location, browser, photos, social, health]
                  description: Type of data source
                  example: "email"
                source_name:
                  type: string
                  description: Specific source name
                  example: "Gmail"
                sync_frequency:
                  type: string
                  enum: [realtime, hourly, daily, weekly]
                  default: daily
                  description: Sync frequency
                  example: "daily"
      responses:
        '201':
          description: Connection initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection:
                    $ref: '#/components/schemas/DataSourceConnection'
                  oauth_url:
                    type: string
                    nullable: true
                    description: OAuth authorization URL (if required)
                    example: "https://accounts.google.com/o/oauth2/v2/auth?..."
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /connections/{source_type}/{source_name}:
    get:
      tags: [Connections]
      summary: Get connection by source
      description: Retrieve a specific connection by source type and name
      operationId: getConnection
      security:
        - BearerAuth: []
      parameters:
        - name: source_type
          in: path
          required: true
          description: Source type
          schema:
            type: string
            enum: [email, calendar, financial, location, browser, photos, social, health]
          example: "email"
        - name: source_name
          in: path
          required: true
          description: Source name
          schema:
            type: string
          example: "Gmail"
      responses:
        '200':
          description: Connection retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceConnection'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags: [Connections]
      summary: Update connection
      description: Update connection settings (sync frequency, permissions, etc.)
      operationId: updateConnection
      security:
        - BearerAuth: []
      parameters:
        - name: source_type
          in: path
          required: true
          description: Source type
          schema:
            type: string
          example: "email"
        - name: source_name
          in: path
          required: true
          description: Source name
          schema:
            type: string
          example: "Gmail"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sync_frequency:
                  type: string
                  enum: [realtime, hourly, daily, weekly]
                  description: New sync frequency
                  example: "hourly"
                permissions:
                  type: array
                  items:
                    type: string
                  description: Updated permissions
                  example: ["read", "write"]
      responses:
        '200':
          description: Connection updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceConnection'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Connections]
      summary: Delete connection
      description: Disconnect and remove a data source connection
      operationId: deleteConnection
      security:
        - BearerAuth: []
      parameters:
        - name: source_type
          in: path
          required: true
          description: Source type
          schema:
            type: string
          example: "email"
        - name: source_name
          in: path
          required: true
          description: Source name
          schema:
            type: string
          example: "Gmail"
      responses:
        '204':
          description: Connection deleted successfully
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /connections/{source_type}/{source_name}/sync:
    post:
      tags: [Connections]
      summary: Trigger manual sync
      description: Manually trigger a data sync for a specific connection
      operationId: syncConnection
      security:
        - BearerAuth: []
      parameters:
        - name: source_type
          in: path
          required: true
          description: Source type
          schema:
            type: string
          example: "email"
        - name: source_name
          in: path
          required: true
          description: Source name
          schema:
            type: string
          example: "Gmail"
      responses:
        '202':
          description: Sync initiated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Sync initiated"
                  sync_id:
                    type: string
                    description: Sync job identifier
                    example: "sync_abc123"
                  estimated_completion:
                    type: string
                    format: date-time
                    description: Estimated completion time
                    example: "2025-01-06T16:05:00Z"
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Sync already in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # PROFILE ENDPOINTS
  # ==============================================================================

  /profile:
    get:
      tags: [Profile]
      summary: Get user profile
      description: Retrieve the authenticated user's profile
      operationId: getProfile
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags: [Profile]
      summary: Update user profile
      description: Update user profile information
      operationId: updateProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  description: Updated display name
                  example: "Jane Doe"
                email:
                  type: string
                  format: email
                  description: Updated email
                  example: "jane@example.com"
                preferences:
                  type: object
                  description: Updated preferences
                  example: {"theme": "light", "notifications_enabled": false}
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # SETTINGS ENDPOINTS
  # ==============================================================================

  /settings:
    get:
      tags: [Settings]
      summary: Get all settings
      description: Retrieve all user settings
      operationId: getSettings
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        example: true
                      quiet_hours_start:
                        type: string
                        format: time
                        example: "22:00"
                      quiet_hours_end:
                        type: string
                        format: time
                        example: "08:00"
                  privacy:
                    type: object
                    properties:
                      analytics_enabled:
                        type: boolean
                        example: true
                      data_sharing_enabled:
                        type: boolean
                        example: false
                  display:
                    type: object
                    properties:
                      theme:
                        type: string
                        enum: [light, dark, auto]
                        example: "dark"
                      language:
                        type: string
                        example: "en"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      tags: [Settings]
      summary: Update settings
      description: Update user settings
      operationId: updateSettings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notifications:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    quiet_hours_start:
                      type: string
                      format: time
                    quiet_hours_end:
                      type: string
                      format: time
                privacy:
                  type: object
                  properties:
                    analytics_enabled:
                      type: boolean
                    data_sharing_enabled:
                      type: boolean
                display:
                  type: object
                  properties:
                    theme:
                      type: string
                      enum: [light, dark, auto]
                    language:
                      type: string
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Settings updated successfully"
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==============================================================================
  # HEALTH ENDPOINTS
  # ==============================================================================

  /health:
    get:
      tags: [Health]
      summary: API health check
      description: Check API health and status
      operationId: healthCheck
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  version:
                    type: string
                    example: "1.0.0"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-01-06T16:00:00Z"

  /health/db:
    get:
      tags: [Health]
      summary: Database health check
      description: Check database connectivity and status
      operationId: dbHealthCheck
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Database is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  latency_ms:
                    type: number
                    description: Database query latency in milliseconds
                    example: 15.3
        '503':
          description: Database is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
